<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DiscordRichPresence>
    <Enable>true</Enable>
    <ShowCourseName>false</ShowCourseName>
  </DiscordRichPresence>
  <DefaultBmgLanguage>English</DefaultBmgLanguage>
  <CourseEditor>
    <GuessCollisionValueLittleEndian>true</GuessCollisionValueLittleEndian>
    <SectionColors>
      <ObjiColor>Red</ObjiColor>
      <PoitColor>#000080</PoitColor>
      <KtpsColor>Black</KtpsColor>
      <KtpjColor>Orange</KtpjColor>
      <Ktp2Color>#00E6FF</Ktp2Color>
      <KtpcColor>#FF0080</KtpcColor>
      <KtpmColor>MediumPurple</KtpmColor>
      <Cpoi1Color>#0080FF</Cpoi1Color>
      <Cpoi2Color>#AA0000</Cpoi2Color>
      <Cpoi1KeyColor>LightSkyBlue</Cpoi1KeyColor>
      <Cpoi2KeyColor>Blue</Cpoi2KeyColor>
      <IpoiColor>#CC9900</IpoiColor>
      <EpoiColor>#00CC00</EpoiColor>
      <AreaColor>CornflowerBlue</AreaColor>
      <CameColor>BurlyWood</CameColor>
      <LocalMapColor>#FF0080</LocalMapColor>
    </SectionColors>
    <Show2D>
      <ShowObji>false</ShowObji>
      <ShowPoit>false</ShowPoit>
      <ShowKtps>true</ShowKtps>
      <ShowKtpj>true</ShowKtpj>
      <ShowKtp2>false</ShowKtp2>
      <ShowKtpc>false</ShowKtpc>
      <ShowKtpm>false</ShowKtpm>
      <ShowCpoi>false</ShowCpoi>
      <ShowIpoi>false</ShowIpoi>
      <ShowEpoi>false</ShowEpoi>
      <ShowArea>false</ShowArea>
      <ShowCame>false</ShowCame>
      <ShowPointSize>true</ShowPointSize>
      <ShowAngle>true</ShowAngle>
    </Show2D>
    <Show3D>
      <ShowObji>true</ShowObji>
      <ShowPoit>true</ShowPoit>
      <ShowKtps>true</ShowKtps>
      <ShowKtpj>false</ShowKtpj>
      <ShowKtp2>false</ShowKtp2>
      <ShowKtpc>false</ShowKtpc>
      <ShowKtpm>false</ShowKtpm>
      <ShowIpoi>false</ShowIpoi>
      <ShowEpoi>true</ShowEpoi>
      <ShowArea>false</ShowArea>
      <ShowCame>false</ShowCame>
    </Show3D>
  </CourseEditor>
</Config>